/*FONT IMPORTS*/
@font-face{
	font-family:RubikRegular;
	src: url(fonts/Rubik-Regular.ttf);
}

@font-face{
	font-family:OcrAStd;
	src: url(fonts/OCRAStd.otf);
}

@font-face{
	font-family:AvenirRoman;
	src:url(fonts/Avenir.ttc);
}

/*site css*/
body{
	padding-top:80px;
}

.navbar{
	min-height:80px;
	width:100%;
	padding-top:15px;
	background-color:#F47A20;
	border:0;
}
#site_link{
	font-family:RubikRegular, Verdana, Geneva, sans-serif;
	color:#634632;
}

#site_link:hover{
	color:#FFF0C3;
}
#nav_name{
	color:#634632;
	font-family:OcrAStd;
}
.navbar-header{
	padding-left:13.127%;
}
#nav-button{
	border:none;
}

#nav-button:hover{
	background-color:#634632;
}
.anchor{
	display:block;
	min-height:80px;
	margin-top:-80px;
	visibility: hidden;
}
/*about me*/
#about_me{
	padding-top:35px;
	background-color:#FFF0C3;
	height:15%;
	padding-left:13.127%;
}



.sub_text{
	font-family:'AvenirRoman', "Helvetica", Gadget, sans-serif;
	font-size: 15px;
	font-weight:bold;
	color: #634632;
}


.intro_sentence{
	font-family:'OcrAStd', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	color: #634632;
}

#head_img{
	/**display:block; **/
	margin:auto;
	border: 2px solid #634632;
	border-radius:50%;
}

/*resume */
#resume{
	background-color:#79C0AA;
	padding-left:13.127%;
	padding-bottom:15px;
	
}

#link-icon-img{
	float:right;
	width:12px; 
	height:12px;
}

h1{
	font-family:'OcrAStd', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	color: #634632;
	margin-left:2%;
	float:left;
}

h1:hover{
	opacity:0.5;
}
#education-article{
	font-family:'RubikRegular', Verdana, Geneva, sans-serif;
	line-height:98%;	
	padding-bottom:20px;
}

#resume-header{
	line-height:normal;
	font-family:Courier, monospace, sans-serif;
	font-weight:550;
	font-size: 25px;
	color: #634632;
}

#resume-sub-header{
	font-size: 18px;
	color: #FFF0C3;
}

#resume-sub-text{
	font-size: 18px;
	color: #FFF8E4;
	line-height:95%;

}

#resume-work-xp-desc{
	font-size: 15px;
	line-height:115%;
	color: #FFF8E4; 
}

#resume-course{
	font-size: 18px;
	line-height:95%;
	color: #FFF0C3;
}

/*Projects*/
#projects{
	background-color:#EFAA1F;
	padding-left:13.127%;
}


h2{
	font-family:'OcrAStd', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	padding-bottom:10px;
	margin-left:2%;
	float:left;
	color: #634632;
}

h2:hover{
	opacity:0.5;
}

#img-row{
	text-align:center;
	padding-bottom:20px;
}

#project-sub-text{
	font-family:'OcrAStd', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	color: #634632;
}
#img-proj{
	border: 12px solid #FFF0C3;
}

.img-link:hover > #img-div{
    background-color:#BF8818;
   /* opacity:0.3;*/
    border-radius:10px;
}

.img-link:hover > #img-div > #img-proj{
	border: 12px solid #e5d8af;
}


#github-proj-link{
	font-family:'OcrAStd', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.5rem;
	color: #634632;
}
#github-proj-link:hover{
	opacity:.7;
	text-decoration:underline;
	text-decoration-color:#634632;
}

#project-link-container{
	background-color:#EFAA1F;
	border: 0 !important;
	margin: 0 !important;
	
}
.proj-row{
	text-align:center;
	padding-top:5px;
}

/*contact*/

#contact{
	background-color:#F47A20;
	padding-left:13.127%;
	padding-bottom:50px;
}

h3{
	font-family:'OcrAStd', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	padding-bottom:10px;
	color: #634632;
}

.contact-info{
	line-height:95%;
	font-family:'OcrAStd', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	color: #FFF0C3;
	
}
.contact-info-social{
	line-height:95%;
	font-family:'OcrAStd', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	color: #FFF0C3;
	max-width:100%;
	margin-right:0;
}

.social-div > p{
	padding-top:10px;
	overflow:none;	
}


#social-row{
}

.social-div{
	width:140px;
}

.social-div-img{
	width:45px;
	padding:0 !important;
}

#social-img{
	height:35px;
	width:35px;
}

#social-img-linked{
	height:35px;
	width:35px;
}

#social-img-linked:hover{
	opacity:0.5;
}

#social-img:hover{
	opacity:0.5;
}